* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background: hsl(207, 26%, 17%);
}

p {
  user-select: none;
}

.container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-container {
  display: grid;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  color: hsl(0, 0%, 100%);
  background: hsl(209, 23%, 22%);
  padding: 2rem;
  border: 1px solid black;
  gap: 2rem;
  @media (min-width: 500px) {
    width: 400px;
  }
  @media (min-width: 700px) {
    width: 600px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.drumPadContainer {
  display: grid;
  grid-template-columns: repeat(3, 75px);
  gap: 0.5rem;
}

.drum-pad-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.drum-pad {
  background: hsl(204, 25%, 12%);
  font-size: 1rem;
  width: 4rem;
  height: 4rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 1px 2px 3px black;
  &:hover {
    background: hsl(204, 24%, 8%) !important;
  }
}

.display {
  background: hsl(204, 25%, 12%);
  width: 80%;
  height: 50px;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
}

.drum-control-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  height: 100%;
}

.volume-slider {
  appearance: none;
  width: 80%;
  border-radius: 5px;
  background: hsl(204, 25%, 12%);
  height: 12px;
  outline: none;
}
